body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pokemon-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button an inline-block element */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for hover effects */
}

.pokemon-button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

.pokemon-button:active {
    background-color: #3e8e41; /* Even darker green when clicked */
    transform: scale(0.98); /* Slightly shrink the button when clicked */
}